blinker 
charset-normalizer 
click 
colorama 
Flask 
flask-login
Flask-SQLAlchemy
graphviz 
gunicorn 
itsdangerous 
Jinja2 
MarkupSafe 
numpy 
packaging 
pandas 
pillow 
python-dateutil 
pytz 
reportlab 
six 
tzdata 
Werkzeug 


