    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body {
        width: auto;
    }

    header {
        margin: 0px;   

        height: 150px;
        width: auto;
        background-color: #00964e;

        display: flexbox;
        align-content: center;
    }

    header nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        justify-content:space-around;
        align-items: center;
    }

    .nav_principal {
        color: #fff;

        font-family: "Courier Prime", monospace, sans-serif;
        font-style: normal;
        font-weight: 200 bold;
        font-size: 35px;

        text-transform:capitalize;
        text-decoration: none;

        text-align: center;
        padding: 45px 30px;
    }


    #logo {
        width: 120px;
        height: 120px;
    }

    #nav5 {
        color: #f6b141;
    }


    /* ----------------------------------------------- */
    .SeparacaoSetor {
        border: none;
        height: 55px;
        width: 760px;

        margin: 30px;
    }
    /* ----------------------------------------------- */

    main {
        background-color: #e1d8f1;
        height: auto;
        width: auto;

        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .titulo_section {
        font-family:"Lobster", monospace, sans-serif;
        font-style: normal;
        text-transform:capitalize;

        font-weight: 400;
        text-decoration: none;
        text-align: center;

        color: #f1af09;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    h1 {
        font-size: 6rem;
    }

    #Main_principal {
        height: 30rem;
        width: 88%;
        
        background-image: url('Imagens/backgroundImageLavanda.jpg');
        background-size:cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        border: 1px solid #673ab7;
        border-top: 10px solid #673ab7;
        border-radius: 9px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        #ImagemCartoonCasal img {
            width: 40rem;
            height: 26.5rem;
            position: relative;
            top: 9.6%;
        }
        
        #ManualConvidado {
            display: flex;
            flex-flow: nowrap column;
            align-items: center;

            h1 {
                margin: 20px;
            }

            p {
                margin: 20px;
                margin-right: 2.8rem;
                text-align: justify;
                font-family: "Courier Prime", monospace, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
        
                text-decoration: none;
                color: #000;
            }
        }
    }