* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: auto;
}

header {
    margin: 0px;
    height: 150px;
    width: auto;
    background-color: #00964e;

    display: block;
    align-content: center;

    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav_principal {
    color: #fff;
    font-family: "Courier Prime", monospace, sans-serif;
    font-style: normal;
    font-weight: 200 bold;
    font-size: 35px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding: 45px 30px;
}

#sidebar-icon {
    display: none;
}

#nav1 {
    color: #f6b141;
}

#logo {
    width: 120px;
    height: 120px;
}

#navegação_header_sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    background-color: #00964e;

    position: absolute; 
    top: 150px;
    right: 0;
    z-index: 999;
}

button {
    background-color: transparent;
    border: 0;
}

/* ----------------------------------------------- */
.SeparacaoSetor {
    width: 50%;
    margin: 30px auto;
}
/* ----------------------------------------------- */

main {
    background-color: #e1d8f1;
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_section {
    font-family: "Lobster", monospace, sans-serif;
    font-style: normal;
    text-transform: capitalize;

    font-weight: 900;
    text-decoration: none;
    text-align: center;

    color: #f1af09;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: clamp(3rem, 3rem + 1vw, 5rem);
}

h2 {
    font-size: 4rem;
}

@media screen and (max-width: 1350px) {
    h1 {
        font-size: min(3rem,10vw)
    }
    span {
        display: inline-block;
    }
}

#Main_principal {
    height: auto;
    width: 95%;

    background-image: url('Imagens/backgroundImageLavanda.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border: 1px solid #673ab7;
    border-top: 10px solid #673ab7;
    border-radius: 9px;
}

@media screen and (max-width: 1350px) {
    #Main_principal {
        background-size: contain;
        background-repeat: repeat-y;
    }
}

#Main_principal #ListaPresentes {
    height: auto;
    width: 100%;
    
    border-radius: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Main_principal #ListaPresentes img {
    width: 50%;
    height: 80%;
}

#Main_principal #ListaPresentes div {
    width: 50%;
    margin-right: 2.5rem;
    background-color: rgba(255, 250, 250, 0.82);
}

#Main_principal #ListaPresentes div p {
    text-align: justify;
    font-family: "Courier Prime", monospace, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(15px, 15px + 40%, 25px);

    text-decoration: none;
    color: #000;
}

#Main_principal #ListaPresentes div #text_agradecimento {
    text-align: end;
    color: #000;
}

@media screen and (max-width: 1600px) {
    #Main_principal #ListaPresentes div p {
        font-size: clamp(15px, 15px + 2%, 20px);
    }
}

#img_passos_column {
    display: none;
}

#Passo_Passo {
    padding: 5px;

    height: auto;
    width: 95%;

    background-image: url('Imagens/backgroundImageLavanda.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border: 1px solid #673ab7;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1350px) {
    #Passo_Passo {
        width: 95%;

        background-size: contain;
        background-repeat: repeat-y;
    }

    #Passo_Passo h2 {
        font-size: min(3rem,10vw);
    }
}

#Passo_Passo img {
    margin: 10px;
    width: 85%;
    height: auto;
}

#Passo_Passo .Text_passos {
    margin: 15px;
    background-color: rgba(255, 250, 250, 0.4);

    height: auto;
    width: 85%;
    border-radius: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Passo_Passo .Text_passos p {
    text-align: justify;
    font-family: "Courier Prime", monospace, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1600px) {
    #Passo_Passo .Text_passos p {
        font-size: clamp(15px, 15px + 2%, 20px);
    }
}

#PrincipalProdutos {
    width: 95%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#PrincipalProdutos #titulo_listaPresente {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;

    background-image: url('Imagens/backgroundImageLavanda.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border: 1px solid #673ab7;
    border-radius: 9px;
}

#PrincipalProdutos #Produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.produto {
    height: 700px;
    width: 452px;
    
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 40px;
    margin: 9px;
    margin-top: 5rem;

    border-radius: 15px;
    border: 1.5px solid #673ab7;
}

.produto .ImagemProdutos {
    height: 400px;
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.produto hr {
    border: none;
    border: 2px solid #673ab7;
    border-radius: 9px;
    width: 20rem;
}

.produto h3 {
    font-family: "Courier Prime", monospace, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: #000;
}

.produto .nav_produto {
    width: 19rem;
    height: 5rem;
    border: 2px solid #673ab7;
    border-radius: 24px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto .nav_produto .assinar {
    font-family: "Courier Prime", monospace, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 1350px) {
    .produto {
        width: 400px;
        height: auto;

        gap: 40px;
    }
    
    .produto .ImagemProdutos {
        height: 300px;
        width: 300px;
    }
    
    .produto hr {
        width: 85%;
        border: 3px solid #673ab7;
    }
    
    .produto h3 {
        font-size: min(2rem, 5vw);
    }
    
    .produto .nav_produto {
        width: 85%;
        height: 5rem;
        border: 3px solid #673ab7;
    }
    
    .produto .nav_produto .assinar {
        font-size: min(2rem, 5vw);
    }
}


.produto.indisponivel {
    background: #f0f0f0;
    opacity: 0.6;
    filter: grayscale(30%);
    cursor: not-allowed;
}

.produto.indisponivel:hover {
    transform: none;
}


@media screen and (max-width: 1350px) {
    #navegação_header #nav1,
    #navegação_header #nav2,
    #navegação_header #nav3,
    #navegação_header #nav4,
    #navegação_header #nav5 {
        display: none;
    }
    
    #sidebar-icon {
        display: block;
        width: 65px;
        margin-right: 5%;
    }
    
    #SidebarLogo button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15rem;
        background-color: #fff;
        border: 2px solid #5f5f5f;
        border-radius: 50rem;
    }
    
    #navegação_header_sidebar {
        width: 15rem;
        height: auto;
        
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        background-color: #00964e;
        
        position: sticky;
        top: 6rem;
        left: 17%;
        
        padding: 1rem;
        border-radius: 10px;
        
        z-index: 9999;
    }
    
    #navegação_header_sidebar.open {
        display: flex;
    }
    
    .nav_principal {
        padding: 20px;
    }
    
    .sep- {
        display: none;
    }
    
    h1 {
        font-size: min(3rem, 13vw);
    }
    
    #Main_principal #ListaPresentes {
        flex-direction: column;
        justify-content: center;
    }
    
    #Main_principal #ListaPresentes img {
        margin-bottom: 0.5rem;
        width: 75%;
    }
    
    #Main_principal #ListaPresentes div {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 90%;
    }
    
    #Main_principal #ListaPresentes div p {
        font-size: 1rem;
    }
    
    #Passo_Passo #img_passos_row {
        display: none;
    }
    
    #Passo_Passo #img_passos_column {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    #Passo_Passo .Text_passos p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 880px) {
    #navegação_header_sidebar {
        left: 15%;
    }

    #PrincipalProdutos #titulo_listaPresente h2 {
        font-size: min(3rem, 10vw);
    }

    .produto {
        width: 80vw;
        height: auto;

        margin: 10px;
        margin-top: 1.5rem;

        gap: 40px;
    }
    
    .produto .ImagemProdutos {
        width: 80%;
        height: auto;
    }
    
    .produto h3 {
        font-size: min(2rem, 7vw);
    }
    
    .produto .nav_produto {
        width: 60vw;
        height: auto;
    }
    
    .produto .nav_produto .assinar {
        font-size: min(2rem, 7vw);
    }
}

@media screen and (max-width: 550px) {
    header {
        height: auto;
        padding: 10px;

        justify-content: space-between;
    }

    header #navegação_header #SidebarLogo button #logo {
        width: 50%;       
        height: auto; 
    }

    #sidebar-icon {
        display: block;
        width: 30%;
        margin-right: 5%;
    }

    header #navegação_header #SidebarLogo {
        width: 50px;
    }
    
    header #navegação_header #SidebarLogo button {
        width: 40vw;
        height: auto;
    }
    
    header #navegação_header_sidebar {
        width: 50vw;
        height: auto;
    }

    header #navegação_header_sidebar a {
        padding: 15px;
        font-size: 1rem;
    }

    header #inscricao {
        width: 20%;
    }

    header #inscricao img {
        width: 100%;
        height: auto;
        background-color: transparent;
    }
} 
