* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: auto;
}

header {
    margin: 0px;
    height: 150px;
    width: auto;
    background-color: #00964e;
    display: flexbox;
    align-content: center;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav_principal {
    color: #fff;
    font-family: "Courier Prime", monospace, sans-serif;
    font-weight: 200 bold;
    font-size: 35px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding: 45px 30px;
}

#sidebar-icon {
    display: none;
}

#logo {
    width: 120px;
    height: 120px;
}

#nav2 {
    color: #f6b141;
}

#navegação_header_sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 15rem;
    background-color: #00964e;

    position: absolute; 
    top: 150px;
    right: 0;
    z-index: 999;
}

button {
    background-color: transparent;
    border: 0;
}

/* ----------------------------------------------- */
.SeparacaoSetor {
    border: none;
    width: 40%;
    margin: 30px;
}

/* ----------------------------------------------- */

main {
    background-color: #e1d8f1;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_section {
    font-family: "Lobster", monospace, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    color: #f1af09;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2, p {
    text-align: justify;
    font-family: "Courier Prime", monospace, sans-serif;
    font-weight: 500;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    color: #000;
}

#Main_principal {
    width: 90%;
    
    padding: 20px;
    border: 1px solid #673ab7;
    border-top: 10px solid #673ab7;
    border-radius: 9px;
    
    background-image: url('Imagens/backgroundImageLavanda.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#titulo_section_phone {
    display: none;
}

#produtoEscolhido {
    width: 40%;
}

#produtoEscolhido img {
    width: 100%;
    height: auto;
    padding: 20px;
}

#produtoInformacao {
    width: 60%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

span {
    display: inline-block;
}

.titulos h1 {
    text-align: center;
    font-size: clamp(2.5rem, 2.5rem + 1vw, 3.5rem);
}

.titulos h2 {
    text-align: center;
    font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

.Descricao {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_descricao {
    margin-bottom: 1rem;
}

.Descricao .titulo_descricao h2 {
    text-align: center;
    font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

.Descricao .atributos {
    display: flex;
    flex-direction: column;
}

.caracteristicas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.cor span {
    display: block;
}

.cor, .cor > form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cor form > input {
    margin: 1.5px;
    width: 30px;
    height: 30px;
    appearance: none;
    border: 1.5px solid #000;
    border-radius: 1rem;
}

.cor form > input:checked {
    border: 2px solid #673ab7;
}

/* Cores */
#Preto { background-color: #000; margin-left: 4px; }
#Branco { background-color: #fff; }
#Cinza { background-color: #d3d3d3; }
#Vermelho { background-color: #ff0000; }
#Bege { background-color: #f5f5dc; }
#Vinho { background-color: #722F37; }
#AzulEscuro { background-color: #000877; }
#VerdeEscuro { background-color: #256600; }
#Azul { background-color: #0400ff; }
#Roxo { background-color: #800080; }
#CinzaEscuro { background-color: #414141; }
#Madeira { background-color: #d3d3d3; }
#Transparente { background-color: transparent; }
#EstNatalina { background-image: url(Imagens/EstNatalina.jpg); }
#EstDiversa { background-image: url(Imagens/EstDiversa.jpg); }
#EstRendada { background-image: url(Imagens/EstRendada.jpg); }
#Dourado { background-color: #d6ca18; }


#produtoInformacao .Assinar {
    width: 50%;
    border: 5px solid #000;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#produtoInformacao .Assinar {
    width: 50%;
}

#produtoInformacao .Assinar .assine button > img {
    width: 3vw;
}

#produtoInformacao .Assinar .assine form > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#produtoInformacao .Assinar .assine button p {
    margin: 0.6rem;
    font-size: 2rem;
    font-family: "Courier Prime";
    text-decoration: underline 4px;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#produtoInformacao #informativo_assinatura p {
    text-align: center;
    font-size: min(2rem, 2vw);
}

@media screen and (max-width: 1350px) {
    #navegação_header #nav1,
    #navegação_header #nav2,
    #navegação_header #nav3,
    #navegação_header #nav4,
    #navegação_header #nav5 {
        display: none;
    }
    
    #sidebar-icon {
        display: block;
        width: 65px;
        margin-right: 5%;
    }
    
    #SidebarLogo button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15rem;
        background-color: #fff;
        border: 2px solid #5f5f5f;
        border-radius: 50rem;
    }
    
    #navegação_header_sidebar {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 15rem;
        background-color: #00964e;
        position: sticky;
        top: 6rem;
        left: 18%;
        z-index: 9999;
        padding: 1rem;
        border-radius: 10px;
    }
    
    #navegação_header_sidebar.open {
        display: flex;
    }

    .nav_principal {
        padding: 20px;
    }

    #Main_principal {
        background-size: contain;
        background-repeat: repeat-y;
        
        flex-direction: column;
        align-items: center;
        
        gap: 10px;
    }
    
    .titulo_section {
        display: none;
        text-align: center;
        font-size: clamp(2.5rem, 2.5rem + 1vw, 3.5rem);
    }
    
    #titulo_section_phone {
        display: block;
    }
    
    #produtoEscolhido {
        width: 90%;
    }
    
    #produtoEscolhido img {
        width: 100%;
    }
    
    #produtoInformacao {
        width: 95%;
    }
    
    #produtoInformacao .Assinar {
        width: 60%;
    }
    
    #produtoInformacao .Assinar .assine button p {
        text-align: center;
        font-size: 2rem;
    }

    #produtoInformacao .Assinar .assine button img {
        width: 7vw;
    }
        
    #produtoInformacao #informativo_assinatura p {
        font-size: clamp(1rem, 1rem + 1vw, 2rem);;
    }
}

@media screen and (max-width: 880px) {
    #navegação_header_sidebar {
        left: 15%;
    }
}

@media screen and (max-width: 550px) {
    header {
        height: auto;
        padding: 10px;

        justify-content: space-between;
    }

    header #navegação_header #SidebarLogo button #logo {
        width: 50%;       
        height: auto; 
    }

    #sidebar-icon {
        display: block;
        width: 30%;
        margin-right: 5%;
    }

    header #navegação_header #SidebarLogo {
        width: 50px;
    }
    
    header #navegação_header #SidebarLogo button {
        width: 40vw;
        height: auto;
    }
    
    header #navegação_header_sidebar {
        width: 50vw;
        height: auto;
    }

    header #navegação_header_sidebar a {
        padding: 15px;
        font-size: 1rem;
    }

    header #inscricao {
        width: 20%;
    }

    header #inscricao img {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    #Main_principal{
        padding: 0;
    }
    
    #produtoInformacao {
        gap: 15px;
        padding: 0;
        padding-bottom: 30px;
    }
    
    .titulos h2 {
        font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
    }
    
    .Descricao {
        width: 95%;
        gap: 15px;
    }
    
    .atributos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .caracteristicas {
        flex-direction: column;
        gap: 20px;
    }
    
    #produtoInformacao .Assinar {
        flex-direction: column;
        
        padding: 5px;
        width: 70%;
    }
    
    #produtoInformacao .Assinar .assine form > button {
        flex-direction: column;
    }

    #produtoInformacao .Assinar .assine button > img {
        width: 25%;
    }

    #produtoInformacao #informativo_assinatura p {
        text-align: center;
        font-size: 1rem;
    }
}
