<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="Imagens/LogoListaCasamento.png" type="image/x-icon">

    <link rel="stylesheet" href="{{url_for('static', filename='estilo_produto.css')}}">
    <title>Lista de produtos: Casamento de Allana e Yuan</title>
</head>

<body>
    <header>
        <nav id="navegação_header">
            <div id="SidebarLogo">
                <button type="button" onclick="on_sidebar(event)">
                    <img src="{{url_for('static', filename='Imagens/LogoListaCasamento.png')}}" id="logo">
                    <img src="{{url_for('static', filename='Imagens/iconeSidebar.png')}}" id="sidebar-icon">
                </button>
            </div>
            <a href="{{url_for('index')}}#Main_principal" class="nav_principal" id="nav1"><strong>Inicio</strong></a>
            <a href="{{url_for('index')}}#PrincipalProdutos" class="nav_principal" id="nav2"><strong>presentes</strong></a>
            <a href="{{url_for('lista')}}" class="nav_principal" id="nav3"><strong>Minha Lista</strong></a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScTrqGxIXzhjjmEwVohj4JPk2oVI8usU6HQpZvKFiIvFrlvNg/viewform?usp=sharing&ouid=102149957380584088023" class="nav_principal" id="nav4"><strong>Confirmar Presença</strong></a>
            <a href="https://drive.google.com/file/d/18IQd0QKMT-EI2CbqRfumyO6ygH7X7QWO/view?usp=drivesdk" class="nav_principal" id="nav5"><strong>Manual do Convidado</strong></a>
            <a href="{{url_for('login')}}" class="inscricao" id="inscricao">
                <img src="{{url_for('static', filename='Imagens/Usuario.jpg')}}" alt="Usuario" id="usuario">
            </a>
        </nav>
        
        <nav id="navegação_header_sidebar">
            <a href="{{url_for('index')}}#Main_principal" class="nav_principal" id="nav1"><strong>Inicio</strong></a>
            <a href="{{url_for('index')}}#PrincipalProdutos" class="nav_principal" id="nav2"><strong>presentes</strong></a>
            <a href="{{url_for('lista')}}" class="nav_principal" id="nav3"><strong>Minha Lista</strong></a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScTrqGxIXzhjjmEwVohj4JPk2oVI8usU6HQpZvKFiIvFrlvNg/viewform?usp=sharing&ouid=102149957380584088023" class="nav_principal" id="nav4"><strong>Confirmar Presença</strong></a>
            <a href="https://drive.google.com/file/d/18IQd0QKMT-EI2CbqRfumyO6ygH7X7QWO/view?usp=drivesdk" class="nav_principal" id="nav5"><strong>Manual do Convidado</strong></a>
        </nav>
    </header>
    
    <main>        
        <img src="{{url_for('static', filename='Imagens/Division.jpg')}}" alt="Divisória do site" class="SeparacaoSetor" id="LinhaNav">
            <section id="Main_principal">
                <h1 class="titulo_section" id="titulo_section_phone">Presente Selecionado</h1>
                <div class="produto" id="produtoEscolhido">
                    <img src="{{url_for('static', filename='Imagens/produtos/Pix.png')}}" alt="Imagem do produto">
                </div>

                <div class="produtoInformacao" id="produtoInformacao">
                    <div class="titulos">
                        <h1 class="titulo_section">Presente Selecionado</h1>
                        <h2 class="titulo_produto">Pix</h2>
                    </div>
                    <div class="Descricao">
                        <div class="titulo_descricao">
                            <h2>Descrição:</h2>
                        </div>
                        <div class="atributos">
                            <div class="caracteristicas">
                                <div class="funcao">
                                    <p>Chave pix: {{chave}}</p>
                                    <p>Beneficiario: {{beneficiario}}</p>
                                    <p>Banco: {{banco}}</p>
                                </div>
                            </div>
                            <div class="funcao">
                                <p id="quantidade">Quantidade: Sem limites</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </section>
        <img src="{{url_for('static', filename='Imagens/Division.jpg')}}" alt="Divisória do site" class="SeparacaoSetor" id="LinhaProdutos">      
    </main>
</body>
<script>
    function on_sidebar(event) {
    event.stopPropagation();
    const sidebar = document.getElementById('navegação_header_sidebar');
    sidebar.classList.toggle('open');}
</script>


</html>
